*{
    font-family: 'Kaushan Script', cursive;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: linear-gradient(rgb(235, 238, 237),rgb(1, 235, 203));
}

.logo{
    margin-left: -350px;
    margin-top: -280px;
}

.contain{
    width: 400px;
    max-width: 400px;
    margin: 20px;
    padding: 35px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: linear-gradient(rgb(255, 238, 0),rgb(247, 246, 208));
    border-radius: 30px;
}

.contain,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand';
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: green;
}

.form__message--error{
    color: red;
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgb(154, 247, 193);
    border: 1px solid rgb(0, 255, 106);
    outline: none;
    transition: background 0.2s, borde-color 0.2s;

}

.form__input:focus {
    border-color: rgb(241, 175, 208);
    background: rgb(223, 219, 245);
}

.form__input--error {
    color: red;
    border-color: red;
}

.form__input--error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: red;
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(235, 238, 237);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: rgb(233, 102, 42);
}

.form__button:hover{
    background: #a0153f;
}

.form__button:active{
    transform: scale(0.78);
}

.form__text{
    text-align: center;
}

.form__link{
    color: teal;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}